Source: nitrux-vfio-enablement
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://nxos.org


Package: nitrux-vfio-enablement
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ipxe-qemu, libslirp0, ovmf, qemu-system-data, seabios, swtpm
Description: Enable VFIO in Nitrux
 Adds module and initramfs-tools configurations files
  to enable VFIO passthrough in Nitrux
